footer
    .container
        .row.footer__navigation.justify-content-between
            .logo
                p
                    | poz
                    span nan
                    |  - city
                    span 2
                    | live
            nav
                ul.list 
                    li
                        a(href="#") home
                    li
                        a(href="#") product
                    li
                        a(href="#") services
                    li
                        a(href="#") contact
        .rights
            p all rights reserved 2013
    