
//////header
header
    .container
        .row.logo.d-flex.justify-content-center 
            p
                | poz
                span nan
                |  - city
                span 2
                | live
            .social
                        a.sprite.facebook(href="#")
                        a.sprite.delicious(href="#")
                        a.sprite.linked-in(href="#")
                        a.sprite.pinterest(href="#")
                        a.sprite.twitter-bird(href="#")
                        a.sprite.evernote(href="#")
        nav.row.justify-content-center 
           ul.list 
                li
                    a(href="#") home
                li
                    a(href="#") product
                li
                    a(href="#") services
                li
                    a(href="#") contact