main
    .container
        section.invitation
            .invitation__name
                h1
                    | visit poz
                    span nan
            .invitation__about
                p 
                    | a city on the 
                    span warta
                    |  river in west-central 
                    span poland
                    | , the region called
                    span  greater poland.
            .row.reviews
                .reviews__article.first
                    p I was in Poznan once. The architecture is really awesome.
                    span Joe Wisdom, architect
                .reviews__article.second
                    p I was lost in Poznan for 3 days. I was terrified.
                    span Little Box, child
                .reviews__article.third
                    p People used to look at me now they don’t see me.
                    span Eva Doe, exmodel
                .reviews__article.fourth
                    p I have a lot of penfriends in Poznań. I like writting to them and ...
                    span Emma Smith, child
        .row            
            aside.col-3
                .author
                    h3.author__name about author
                    p 
                        span John Doe -
                        | lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta.
                .posts
                    h3.posts__name related posts
                    .title
                        img(src="assets/img/image-post-1.png")
                        .name
                            a(href="#") poznan at night
                            span 10 coments
                    .title
                        img(src="assets/img/image-post-2.png")
                        .name
                            a(href="#") people to meet
                            span 17 coments
                    .title
                        img(src="assets/img/image-post-3.png")
                        .name
                            a(href="#") visit our office
                            span 21 coments
                .currency
                    h3.currency__name  currency
                    table
                        tr
                            th data
                            th value
                            th status
                            th diff
                        tr
                            td 22.1
                            td 459.5
                            td
                                img(src="assets/img/arrow head.png")
                            td +1.0
                        tr
                            td 21.1
                            td 448.5
                            td
                                img(src="assets/img/arrow down.png")
                            td -2.3
                        tr
                            td 20.1
                            td 450.8
                            td
                                img(src="assets/img/arrow head.png")
                            td +8.0
            .mainBlock.col-12.col-md-9
                .why
                    h2.why__question why should you come to poznan
                    .row
                        .icons.col-3
                            .date 11 NOV
                                br
                                | 2013
                            .user by 
                                br
                                | John Doe
                        p.why__answer.col-9 Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio  em nec elit. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Donec  ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Donec  ullamcorper nulla non metus auctor fringilla...
                    .row
                        input.offset-1(
                                type='button'
                                name='name'
                                value="read more"
                            )    
                        .likeComment.ml-auto
                            a.like(href="#") 10 likes
                            a.comment(href="#") 22 comments
                .row.blog.justify-content-around.align-self-end
                    .item.col-12.col-md-6
                        .blockText
                            h3.item__name new attractions
                            p.item__info
                                | posted by 
                                span John Doe
                                |  on 
                                span 10 Nov 2013
                            p.item__text Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis.
                            a.item__more(href="#") more...
                        .blockFeedback
                            a.blockFeedback__like(href="#") 12
                            a.blockFeedback__comment(href="#") 34
                    .item.col-12.col-md-6
                        .blockText
                            h3.item__name let's meet on old market square
                                br
                                | it will be fun
                            p.item__info
                                | posted by 
                                span John Doe 
                                |  on 
                                span 10 Nov 2013
                            p.item__text Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis.eget lacinia...
                            a.item__more(href="#") more...
                        .blockFeedback
                            a.blockFeedback__like(href="#") 56
                            a.blockFeedback__comment(href="#") 55
                .row.yourAdd  
                      a(href="#") your add here
        section.location.row
            h2.location__answer.col-12 where can i find more information
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13761.745045161175!2d16.927549390974747!3d52.42921481535528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47045b5782e2caf9%3A0x989564fbdf59cb40!2sT-Mobile!5e0!3m2!1sru!2sua!4v1505288439898")
                        
                        
                