//- path
- 
  var path = {
      src: {
        css:  'css/main.css',
        img: 'assets/img/',
        slider: 'css/slick.css',
        slider1: 'css/slick-theme.css'
        
      }      
  };  
